[user]
    name = Wojtek Szkutnik
    email = wojtek.szkutnik@gmail.com
[alias]
    st='status'
    ci='commit'
    vlg="log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
