[user]
    name = Wojtek Szkutnik
    email = wojtek.szkutnik@gmail.com
[alias]
    # Shorthands for standard commands
    st = status
    ci = commit
    co = checkout
    br = branch

    up = pull --rebase
    undo = reset --soft HEAD^
    uncommit = reset --soft HEAD^

    # Handy git history spelunking functions, proposed on the mailing lists by Junio Hamano
    whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
    whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
    
    # Aliases
    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'

    # Highway to the danger zone
    mav = !afplay ~/Music/TopGun-DangerZone.mp3 &\ngit rebase -i
    
    # Fancy log history
    lg = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
    vlog = !git log -p -40 | vim - -R -c 'set foldmethod=syntax'
